<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    
    <add key="CorporatePermissions/ServiceUrl" value="https://rxpsecws.gtm.corp.microsoft.com/CorporatePermissions/CorporatePermissionsService.svc"/>
    <add key="CorporatePermissions/InternalServiceUrl" value="https://rxpsecws.gtm.corp.microsoft.com/CorporatePermissions/CorporatePermissionsService.svc/Internal"/>
    <!--
    <add key="CorporatePermissions/ServiceUrl" value="https://itapuatws.partners.extranet.microsoft.com/CorporatePermissions/CorporatePermissionsService.svc"/>
    <add key="CorporatePermissions/InternalServiceUrl" value="https://itapuatws.partners.extranet.microsoft.com/CorporatePermissions/CorporatePermissionsService.svc/Internal"/>
    
    -->
  </appSettings>

</configuration>